body{
    background-color: lightcyan;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#calcbody{
    /* display:flex; */
    flex-direction: row;
    background-color: white;
    flex-wrap: wrap;
    margin: auto;
    width: 30%;
    height: 600px;
    border:2px solid black;
    padding-bottom: 2px;
    border-radius: 5px;

}

#display{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border:1px solid black;
    height: 10%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-size: 3.0vw;
}

.buttons{
    height: 90%;
}
button{
    min-width: 25%;
    font-size: 30px;
    border: none;
    border: 1px solid black;
    
}
#zero{
    display: flex;
    flex-grow:1;
    justify-content: center;
    align-items: center;
}

.row{
    height: 20%;
    display: flex;
    width: 100%;
}



/* Use all this as a footer */
footer{
    margin-top: 50px;
}
#theodinproject{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
#link{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
a:link { 
    text-decoration: none; 
  } 
  a:visited { 
    text-decoration: none; 
  } 
  a:hover { 
    color: red;
  } 
  
#link img{
    width: 50px;
    height: auto;
}
/* Use all this as a footer */